# dependencies
**/node_modules/

# build directories
build/

# MongoDB data
mongo-db-data/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# prod-env.yaml
prod-env.yaml

credentials.json
.env